<html>
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.3/dayjs.min.js"></script>
</head>
<body onload="loop();">
<table border="1">
<tr><th>元画像</th><th>画像処理（モザイク）</th></tr>
<tr><td><img id="image1" width="320" height="240"></td><td><img id="image2" width="320" height="240"></td></tr>
</table>

<script type="text/javascript">
function send_to_python() {
    $.ajax("/call_from_ajax", {
        type: "POST",
    }).done(function(received_data) {                   // 戻ってきたのはJSON（文字列）
        var received_dict = JSON.parse(received_data);  // JSONを連想配列にする
        // 以下、Javascriptで料理する
        var img1 = received_dict["image1"];
        var img2 = received_dict["image2"];
        var camera_time = received_dict["now"];
        $("#image1").attr("src", img1);
        $("#image2").attr("src", img2);

        var js_now = dayjs();
        var js_time = js_now.format("YYYY-MM-DD HH:mm:ss.SSS");
        var diff = js_now.diff(dayjs(camera_time));
        console.log("camera_time:" + camera_time);
        console.log("js_time    :" + js_time);
        console.log("diff       :" + diff);

    }).fail(function() {
        console.log("失敗");
    });
};

async function loop(){
    const sleep = ms => new Promise(resolve => setTimeout(resolve, ms));
    var isBusy = false;
    while (true) {
        if (! isBusy) {
            isBusy = true;
            send_to_python();
            isBusy = false;
            await sleep(1);     // 単位はミリ秒
        }
    };
};

</script>
</body>
</html>